*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}

.container{
    margin: auto;
    width: 50%;
    height: 150px;
    padding: 10px;
    background-color: #f1f5f9;
}
.text{
    margin: 100px 0px;
    color: #64748b;
    padding: 5px;
}
.list{
    list-style: none;
    margin: 10px 0px;
    display: flex;
    flex-wrap: wrap;
}
.list .list_item1{
    display: inline;
    border: 1px solid #cbd5e1;
    padding: 5px 5px;
    border-radius: 20px;
    margin: 5px 5px;
    background-color: #cbd5e1;
}
.list .list_item1 button{
    padding: 0px 3px;
    border: 1px solid #cbd5e1;
    border-radius: 10px;
}
.list .list_item2{
    display: inline;
    border: 1px solid #cbd5e1;
    padding: 5px 5px;
    border-radius: 20px;
    margin: 5px 5px;
    background-color: #cbd5e1;
}
.list .list_item2 button{
    padding: 0px 3px;
    border: 1px solid #cbd5e1;
    border-radius: 10px;
}

.list span{
    color: #64748b;
    padding-top: 10px;
}