*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}
body{
    font-size: 62.5%;
}
.container{
    background-color: thistle;
    margin: auto;
    width: 70%;
    height: auto;
    display: flex;
    flex-wrap: wrap;
}
.chips{
    background-color: tomato;
    font-size: 1rem;
    margin: .5rem;
}